<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout</title>
</head>
<body>

  <h2>Banner</h2>
  <!-- Yield is a ruby thing that allows the pges
  to all be linked in this folder system way.
  It will always look in the views folder for other pages -->
  <%= yield %>
  
</body>
</html>