.container {
  max-width: 290px;
  margin: 0 auto;
  text-align: center;
/*  box-sizing: border-box;
*/}

.header {
  display: block;
  color: red;
}

nav > li {
  background-color: black;
  border-style: solid, 2px, white;
  color: white;

}

li {
  list-style: none;
}

h2, h4 {
  text-align: center;
}

p {
  text-align: center;
}

time {
  text-align: center;
}

footer {
  display: inline-block;
  text-align: center;
}




