<h2>Stocks App</h2>

<form action="/stock">  <!-- This is where you submit the form to -->
  <input type="text" name="ticker"> <!-- this is like an id, its used to transfer the info across pages-->
  <button>Go</button>
</form>