<form action="/session" method="post">
  <!-- set method as post to get the right link -->
  <label for="">Email Address</label>
  <input type="text" name="email">

  <label for="">Password</label>
  <input type="password" name="password">
  <!-- password in type doesnt show the password -->
  <button>Submit</button>

</form>